.item-wrapper {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 93% 7%;
    margin: 10px;
    grid-gap: 0;
    width: 100%;
    min-height: 75px;
}

.item-wrapper > a {
    border: 1px solid grey;
    border-right: 0;
}

.item-header {
    grid-area: header;
}

.item-wrapper a:active {
    background-color: aliceblue;
}

.item-wrapper .header {
    grid-area: header;
    width: 100px;
}

.item-wrapper .item-content {
    grid-area: summary;
    text-align: justify-all;
    padding-left: 15px;
}

.clickFav {
    height: 100%;
    cursor: pointer;
}

.list-wrapper {
    margin-top: 20px;
}

.list-items-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin: auto;
}

.show-more {
    border-top: 1px solid black;
    cursor: pointer;
    padding: 20px;
    font-weight: bolder;
}

.show-more:hover {
    background-color: #ff580e;
}
