.wrapper {
    margin-top: 40px;
    width: 100%;
    text-align: center;
    padding: 20px 0 10px 0;
}

.form input {
    box-sizing: border-box;
    height: 50px;
    padding: 10px;
    margin: 5px;
    font-size: 20px;
}

.form input[type=submit] {
    font-style: italic;
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: .5em 2em;
    outline: none;
    border-width: 2px 0;
    border-style: solid none;
    border-color: #FDBE33 black black;
    border-radius: 9px;
    background: linear-gradient(#F3AE0F, #E38916) #E38916;
    transition: 0.9s;
    cursor: alias;
}

.form input[type=submit]:hover {
    background: linear-gradient(#f5ae00, #f59500) #f5ae00;
}

.form input[type=submit]:active {
    background: linear-gradient(#f59500, #f5ae00) #f59500
}

.add, .remove {
    border: 1px solid grey;
    position: relative;
    opacity: 0.9;
    width: 100%;
    height: 98%;
}

.add:hover, .remove:hover {
    opacity: 0.6;
}

.add:before{
    content: "Add to favorites";
}

.remove:before {
    content: "Remove from favorites";
}

.add {
    background-color: springgreen;
}

.remove {
    background-color: red;
}

.header {
    padding: 7px;
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
}

