.App {
  text-align: center;
  min-width: 850px;
}

.navigationButton {
  position: fixed;
  z-index: 590;
  top: 30px;
  left: 15px;
  width: 120px;
  text-align: left;
}

.favButton {
  text-align: center;
  display: block;
  border-radius: 7px;
  border: 1px solid black;
  padding: 10px;
  background-color: #ffd00b;
  margin: 5px;
}

a {
  color: black;
  text-decoration: none;
  background-color: lightyellow;
}

a:hover {
  background-color: lightsalmon;
}
