.info-window {
    min-width: 500px;
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid grey;
}

.info-window img {
    width: 400px;
    margin: auto;
}

.info-window header {
    font-weight: bolder;
    background-color: deepskyblue;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
}

.info-window ul {
    list-style: none;
}

.info-window .favCl {
    margin-top: 20px;
    height: 100px;
}

.lister:hover {
    cursor: pointer;
}
